# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ExSharpBase.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Jire\RiderProjects\ExSharp-Base\ExSharpBase\.idea\.idea.ExSharpBase\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
